<!-- meetings/templates/meetings/create_meeting.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Colaborador</title>
</head>
<body>
    <h1>Cadastrar novo colaborador</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Realizar Cadastro</button>
    </form>
    <a href="{% url 'create_meeting' %}">Cancelar</a>
    <a href="{% url 'meeting_list' %}">Voltar à Lista de Reuniões</a>
</body>
</html>
